.filter {
    margin-top: 20px;
}

.filterLabel {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.filterInput {
    padding: 5px 10px;
    width: 170px;
}